<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<dom-module id="gestor-clientes">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

<div class="container">
  <div class="row">
    <img clas="col-lg-8 col-xs-12" src="https://image.flaticon.com/icons/png/512/1146/1146290.png" alt="">
  </div>
  <div class="row">
    <button on-click="obtenerClientes" class="btn btn-success col-lg-4 col-xs-12" type="button" name="button">Obtener CLientes</button>
      <table>
        <tbody>
          <template is="dom-repeat" items="{{clientes}}">
            <tr>
              <td>[[item.CustomerID]]</td>
              <td>[[item.ContactName]]</td>
              <td>[[item.CompanyName]]</td>
            </tr>
          </template>
        </tbody>
      </table>
  </div>
</div>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify:true
          }
        };
      }
      obtenerClientes(){
          var request = new XMLHttpRequest();
          request.open('GET','https://services.odata.org/V4/Northwind/Northwind.svc/Customers',false);
          request.setRequestHeader('Accept','application/json');
          request.send();
          this.clientes=JSON.parse(request.responseText).value;
          console.log(this.clientes);
      }
      anadirClientes(){
        var request = new XMLHttpRequest();
        request.open('POST','https://services.odata.org/V4/Northwind/Northwind.svc/Customers',false);
        request.setRequestHeader('Accept','application/json');
        request.setRequestHeader('Content-Type','application/json');
        var nuevoCliente = {"CustomerID":"12345","ContactName":"Pepe","CompanyName":"Pepes BAr"}
        var body =JSON.stringify(nuevoCliente);
        request.send(body);
        this.respuesta=request.responseText;
        console.log(this.respuesta);
      }
    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
